<html>

<head>
  <link rel="stylesheet" href="templates/style.css">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
  <title>Sign in</title>
</head>

<body>
  <div class="main">
    <p class="sign" align="center">Welcome To ChatRoom</p>
    <form class="form1">
      <input class="un " type="text" align="center" placeholder="Enter Username">
      <input class="pass" type="room-name" align="center" placeholder="Enter room name">
      
      <a class="submit" id="submit" type="button" value="Send" align="center">Join Room</a>
 

      <script>
          //Get username and send it to consumers.py

          //Enter room name, when you click "join room", it should send you to the
          //room you chose
        




      </script>
    
            
                
    </div>
     
</body>

</html>